.toolbar{
    display: flex;
    justify-content: flex-end;
}

.container-jumbo{
    display: flex;
    height: calc(100vh - 100px);
    align-items: center;
}

.grid-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.grid-item{
    margin: 0;
    box-sizing: border-box;
}
.grid-sm-2{
    flex-grow: 0;
    max-width: 16.666667%;
    flex-basis: 16.666667%;
}
.grid-sm-3{
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
}
.grid-sm-4{
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
}
.grid-sm-5{
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%;
}

.mt-5{
    margin-top: 40px;
}

button{
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    color: white;
    border: none;
    outline: none;
    padding: 12px 50px;
    background: #36CA8E;
    box-shadow: 0 10px 30px -5px rgba(54, 202, 142, .16);
    /* margin-top: 40px; */
    border-radius: 0;
}

button:hover{
    color: #36CA8E;
    background-color: white;
}

button.inverted{
    color: #36CA8E;
    border: none;
    outline: none;
    padding: 12px 50px;
    background: white;
    box-shadow: 0 10px 30px -5px rgba(54, 202, 142, .16);
    /* margin-top: 40px; */
    border-radius: 0;
}

button.inverted:hover{
    background-color: #36CA8E;
    color: white;
}

.containerBtns{
    display: flex;
    justify-content: space-between;
}

.containerBtns>div{
    margin-right: 20px;
}

.whatWeDo .paper {
    padding: 40px;
    min-width: 300px;
    margin-top: 40px;
}